@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Video Game Shop</h1>
    <p>This is built as a DEMO site using .NET Core and SQL Server.</p>
</div>
